.popup__button{
    width:358px;
    height:50px;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
    border:none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    outline: none;
}


.popup__button:hover{
    opacity: .8;
    transition: .2s;
}

@media screen and (max-width : 620px){
    .popup__button{
        width: 277px;
        height:38px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width : 425px){
    .popup__button{
        width: 65.18vw;
        height:8.94vw;
        margin-top:  7.06vw;
        font-size: 3.76vw;
        line-height: 4.47vw;
    }
}
