.popup__vector-button{
    position:absolute;
    top:-50px;
    right:-50px;
    cursor: pointer;
    padding: 0;
    width:58px;
    height:58px;
    padding:0;
    background: rgba(0,0,0,0.01);
    border: none;
    outline: none
}

@media screen and (max-width : 620px){
    .popup__vector-button{
        top: -40px;
        right: -40px;
    }
    
}
